select {
    padding-top:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    border:none;
    outline:none;
    cursor:pointer;
}
.location{
	padding:15px;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

body {
	background-color: #DBDBD9;
	font-family:Roboto;
	
	/*margin-bottom: 60px;*/
}

@media (min-width: 1000px) 
{   
    /*default so you don't need this*/
    div[class^="col"]{padding-left:5px; padding-right:5px;}
}


header {
	background-color: white;
	/*border-bottom: solid #24323E;*/
}

h1{
	font-family:Roboto;
	font-weight: 300;
	color:#24323E;
}

.btn-collapse, .btn-collapse:focus{
	background-color: #47A8AA;
	color:white;
}

.btn-collapse:hover{
	color:black;
}

/*menu de navegacion*/
#menu-nav{
	padding-left: 0;
	padding-right: 0;
}

.navbar{
	background-color: #24323E;
	border:none;
	color:#24323E;
}

.nav-pills{
  background-color: white;
  padding: 0 5px;
  border:none;
}

div.nav-pills{
  background-color: white;
  border:none;
  padding: 0 15px;
  line-height: 1.5;
  border-radius: 3px;
}

.navbar-nav>.active>a{
	color: #47A8AA !important;
}

.nav-pills>.active>a{
	background-color: #eee !important;
	color: #47A8AA !important;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus{
	color: white;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #47A8AA;
}

.toggleMenu, #mMov, #mCat, #mMon, #mCon, #mDisp, 
#mVar, #mEst, #mUsr, #mAjs, #mSadm, #mTV{
	display:none;
}

/* make sidebar nav vertical */ 

@media (min-width: 768px) {
	
.central-panel{
	overflow:auto;
	height:80vh;
}

.navbar-lateral{
	height: 80vh;
}
	
.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
  }
}

/* collapse menu*/
#sidebar-wrapper {
    position: absolute; 
    left: 250px;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper {
    padding-left: 250px;
}
 
#sidebar-wrapper {
    width: 230px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 50px;
}

#wrapper.toggled .nav-pills{
	background-color:#24323E;
}

/* main */
#main-content {
	margin-left: 230px;
	margin-right: 230px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#main-content.toggled-left {
    margin-left: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#main-content.toggled-right {
    margin-right: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tablero{
	border:1px; 
	border-style: solid;
    border-color: #F2F2F2;
}

.centrar{
	display: inline-block;
    vertical-align: middle;
    float: none;
}
.btn-nuevo, .btn-ayuda, .btn-mapa, .btn-filtro, .btn-mensaje,.btn-erase,.btn-archive{
	background: none;
	color: #24323E;
	border: none;
	

}

.btn-nuevo:hover, .btn-nuevo:focus, .btn-nuevo.focus, 
.btn-mapa:hover, .btn-mapa:focus, .btn-mapa.focus,
.btn-filtro:hover, .btn-filtro:focus, .btn-filtro.focus,
.btn-mensaje:hover, .btn-mensaje:focus, .btn-mensaje.focus{
  color: #47A8AA;
  text-decoration: none;
}

.bcheader{
	background: white;
	margin-bottom: 0px;
}

/*menu de chat*/
.chat{
	margin-bottom: 0px;
}
.chat-botones{
	background-color: white;
	padding: 0 0;
}

.btn-contacto{
	background-color: white;
	padding: 5px 0;

 
 
}


.img-contacto {
	z-index: 1 !important;
	position: relative !important;
}
#tabChat {
	z-index: 1 !important;
	position: relative !important;
}



.circle-chat{
	  z-index: 2 !important;
 position: relative !important;
 right:-10px;
bottom:10px;
}
.circle-chat-tab{
	  z-index: 2 !important;
 position: relative !important;
 right:0px;
bottom:30px;
}

.messages{
	overflow:auto;
	height:60vh;
}

/* collapse chat*/
#chat-wrapper {
    position: absolute; 
    right: 250px;
    margin-right: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
#chat-wrapper {
    width: 230px;
}
#chat-wrapper.toggled {
    width: 50px;
}

.contacts-collapsed{
	padding-left: 5px;
	padding-right: 0px;
}

/* notificaciones */
.panel-notificaciones{
	padding:1vh;
}


#notifications,#chat-notifications{
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 0px 0;
  font-size: 13px;
  color: white !important;
  border-radius: 15px;
  background-color:#E80023 !important;
  border:none;
}

.borderless li {
    border: none;
}
a.nolink {
	text-decoration: none;
	color:#333;
}

/*tablas*/
.pagination>.active>a, .pagination>.active>a:focus, 
.pagination>.active>a:hover, .pagination>.active>span, 
.pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #47A8AA;
    border-color: #47A8AA;
}

.pagination>li>a, .pagination>li>span{
	color: #47A8AA;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
	background-color: #47A8AA;
}

.btn-editar,
.btn-masInfo,
.btn-eliminar{
	background: none;
	color: #24323E;
	border: none;
}

.btn-editar:hover,
.btn-masInfo:hover{
	color: #47A8AA;
}

.btn-eliminar:hover{
	color:#E31E26;
}

td>.btn-editar,
td>.btn-masInfo,
td>.btn-eliminar{
	visibility: hidden;
}

.icon-plus,
.icon-pencil,
.icon-question,
.icon-map,
.icon-filtro{
	color: #47A8AA;
}

.icon-remove{
	color: #E31E26;
}

tr:hover{
	color:#47A8AA;
}

tr:hover>td>button{
	visibility: visible;
}

/*forms*/
.form-group{
	border:none;
 }

.form-control, .inputForm, input[type="file" i]::-webkit-file-upload-button{
	border:0 solid;
    border-bottom: 1px solid #47A8AA;
   	border-radius: 0 !important;
   	box-shadow: none !important;
   	
   	
}

.inputForm:hover, .checkbox-inline:hover, 
.radio:hover,input:hover::-webkit-input-placeholder {
	color: #47A8AA;
	
}
.inputForm:focus, .checkbox-inline:focus, 
.radio:focus,input:focus::-webkit-input-placeholder {
	color: #47A8AA;
	
}


.safe + .tooltip > .tooltip-inner{
    background-color: #309630;
   
}
.safe + .tooltip.bottom  .tooltip-arrow {
    border-bottom-color: #309630;
}

.precaution + .tooltip > .tooltip-inner{
    background-color: #CC851F;
   
}
.precaution + .tooltip.bottom  .tooltip-arrow {
    border-bottom-color: #CC851F;
}
.warning + .tooltip > .tooltip-inner{
    background-color: #9E1610;
   
}
.warning + .tooltip.bottom  .tooltip-arrow {
    border-bottom-color: #9E1610;
}



.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #9E1610;
}

input[type='file'] {
  color: transparent;
}

.inputColor{
	border:0 solid;
}

input:read-only{
	border: none;
	background-color: white;
}

.btn-guardar, input[type="file" i]::-webkit-file-upload-button{
	color: white;
	background: #47A8AA;
}

.btn-guardar:hover, input[type="file" i]::-webkit-file-upload-button:hover{
	color: white;
	background: #24323E;
}

.btn-cancelar:hover{
	color: #E31E26;
}

.esconder{
	display:none;
}

/*mapa (form)*/
.map-canvas {
  width:200px;
  height:180px;
}

/*graficas*/
.grafica-header{
	padding: 0 10px;
}

.grafica-danger{
	background-color: #E31E26;
}

.grafica-warning{
	background-color: #e2741a;
}

.grafica-success{
	background-color: #2d9119;
}

.grafica-header, .grafica-header>.btn-masInfo, .grafica-header>.btn-masInfo>.icon-plus{
	color: #FFFFFF;
}

/*tree*/
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}